body {
  background-color: black;
}

.navbar a {
  color: white;
  font-family: "Open Sans";
}
div.scroll-container {
  background-color: black;
  overflow: auto;
  white-space: nowrap;
  /* padding: 10px; */
  display: flex;
}

div.scroll-container img {
  padding: 10px;
  object-fit: cover;
}
.img-fluid {
  width: 230px;
  height: 310px;
  border-radius: 20px;
}
#img {
  width: 230px;
  height: 310px;
  object-fit: cover;
}
body {
  color: white;
  font-family: "Open Sans";
}
.container-image {
  position: relative;
  /* width: 45%; */
  width: 230px;
  height: 310px;
}

.image {
  opacity: 1;
  display: block;
  width: 230px;
  height: 310px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-image:hover .image {
  opacity: 0.3;
}

.container-image:hover .middle {
  opacity: 1;
}

.text {
  background-color: transparent;
  color: white;
  font-size: 14px;
}

.text p {
  max-width: 230px;
  max-height: 310px;
}

.container-fluid ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.noscrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.noscrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.main-container {
  padding-top: 30px;
}
.main-container h2 {
  padding-left: 10px;
}
